.popup__background{
  position: relative;
  min-height: 400px;
  min-width: 750px;
  max-width: 75vw;
  max-width: 75vh;
  background-size: 100% 100%;
}
@media (max-width: 1000px){
  .popup__background{
  min-width: 75vw;
  min-height: 60vh;
  }
}
