.user-image{
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 127.5px;
  height: 127.5px;
  border-radius: 50%;
  background-image: url(../../images/profile_image.jpg);
  background-size: 100% 100%;
  z-index: 0;
  cursor: pointer;
}
@media (max-width: 768px){
  .user-image{
    justify-self: center;
  }
}