.element{
  position: relative;
  display: grid;
  width: 282px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background-color: white;
  color: #000000;
  overflow: hidden;
  box-sizing: border-box;
  /* grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, max-content); */
  gap: 0 0;
  grid-template-areas:
  "image image"
  "name like"
  "name like-counter";
}