.element__garbage-button{
  position: absolute;
  display: none;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  background: url(../../../images/garbage.svg);
  z-index: 1;
  cursor: pointer;
  border: none;
  transition-property: opacity;
  transition-delay: 0.08s;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}
.element__garbage-button:hover{
  opacity: 0.6;
}