.profile__add-button{
  grid-area: add;
  width: 150px;
  height: 50px;
  margin: auto 0 auto auto;
  padding: 0;
  background: url(../../../images/Add-Button_1280px.svg);
  border: none;
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 0.15s;
  cursor: pointer;

}

.profile__add-button:hover{
  opacity: 0.6;
}
@media (max-width: 768px){
  .profile__add-button{
    margin: 36px auto 0;
    width: 282px;
    background: url(../../../images/Add-Button_768px.svg);
  }
}