.popup__close-icon_type_image{
  transform: translate(calc(100% + 5px),calc(-100% - 5px));
}
@media (max-width: 550px){
  .popup__close-icon_type_image{
    width: 30px;
    height: 30px;
    transform: translate(calc(100% + 5px),calc(-100% - 5px));
  }
}