.popup__close-icon_type_form{
  transform: translate(calc(100% + 4px),calc(-100% - 4px));
}
@media (max-width: 550px){
    .popup__close-icon_type_form{
      width: 26px;
      height: 26px;
      transform: translate(-4px, calc(-100% - 20px));
    }
}