.element__image_salient{
  /* all: unset;
  position: fixed;
  max-width: 75vw;
  max-height: 75vh;
  margin: 0;
  padding: 0;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  border: none;
  z-index: 3;
  box-shadow: 0 0 0 100vw rgba(0,0,0,.5); */
}
/* @media (max-width: 550px){
  .element__image_salient{
    width: 282px;
  }
} */