.element__like-button{
  grid-area: like;
  margin: 22px 18px 0px auto;
  padding: 0;
  height: 19px;
  width: 21px;
  background: url(../../../images/Like.svg);
  border: none;
  transition-property: opacity;
  transition-delay: 0.08s;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  cursor: pointer;
}
.element__like-button:hover{
  opacity: 0.5;
}